@font-face {
  font-family: "iconfont"; /* Project id 2534885 */
  src: url('iconfont.woff2?t=1620460293567') format('woff2'),
       url('iconfont.woff?t=1620460293567') format('woff'),
       url('iconfont.ttf?t=1620460293567') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-triangle-down:before {
  content: "\e600";
}

.icon-guoqi:before {
  content: "\e63e";
}

